.content-forgotten {
    display: block;
    width: 80%;
    height: 100%;
    padding-top: 2vw;
    
    label {
        display: block;
        color: white;
        margin-top: 1.5vw;
    }
    .buttonforgett {
        width:55%;
        color: $Primary-color;
        background-color: white;
        margin-left: 24%;
        border: none;
        border-radius: .2vw;
        padding: .5vw;
        font-size: 1vw;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 8vh;

        &:hover {
            background-color: $Button-hover;
            color: white;
        }
    }
    span {
        color: #bf1650;
    }
    
    span::before {
        display: inline;
        content: "⚠ ";
        margin-left: 8%;
    }
}




.title {
    color: white;
    font-size: 1.5vw;
}

.subtitle {
    color: white;
    font-size: .91vw;
}
.subtitlemail {
    color: white;
    font-size: .97vw;
    margin-left: 8%;
}
.note{
    color: white;
    font-size: .89vw;
    margin-top: 20%;;
}

.emailinput{
    display: block;
    box-sizing: border-box;
    width: 85%;
    height: 30px;
    color: $Primary-color;
    border: 1px solid white;
    border-radius: .2vw;
    outline: none;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 20;
    padding-left: 1.8vw;
    padding: 8px;
    margin-left: 8%;
}

@media only screen and (max-width: 1000px){
    .login-container{
        width: 30vw;
    }
    .content-components-login{
        border-radius: 2% 2% 2% 2%;
    }
    .imageLogin {
        display: none;
    }
}
